$black: #000000;
$white: #ffffff;
$blue: #346fcf;
$red: #ff4e4d;
$grey: #8e8e8e;
$azure: #e8f1ff;

$h-red: darken($red, 10);
$h-blue: darken($blue, 10);
$h-grey: darken($grey, 10);

$shadow: 0 5px 20px #dbdbdb;

.color-red { color: $red; }
.color-blue { color: $blue; }
.color-white { color: $white; }
.color-grey { color: $grey; }

.link-red {
  border-color: $red;
  transition: .3s;
  &:hover, &:focus {
    color: darken($red, 25);
  }
}
.link-blue {
  border-color: $blue;
  transition: .3s;
  &:hover, &:focus {
    color: darken($blue, 25);
  }
}
.link-grey {
  border-color: $grey;
  transition: .3s;
  &:hover, &:focus {
    color: darken($grey, 25);
  }
}

.overflow-red {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($red,.8);
}
.overflow-blue {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($blue,.8);
}

.bg-blue { background-color: $blue; }
.bg-red { background-color: $red; }
.bg-azure { background-color: $azure; }