$black: #000000;
$white: #ffffff;
$blue: #346fcf;
$red: #ff4e4d;
$grey: #8e8e8e;

$h-red: darken($red, 10);
$h-blue: darken($blue, 10);

.color-red {
  color: $red;
}
.color-blue {
  color: $blue;
}
.color-white {
  color: $white;
}