.home-6 {
  position: relative;
  background-image: url('../../../img/home/home-6/home-6-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .cards__img {
    height: 130px;
  }
}