.header {
  padding-left: 375px;
  background-color: $white;
}

.header__box {
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  padding-left: 20px;
}

.header__navigation_item {
  margin-right: 35px;
}

.header__navigation_item_link {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 16px;
  color: $blue;
  transition: .3s;
  &:hover {
    color: $h-blue;
  }
}

.header__number {
  display: flex;
  align-items: center;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 24px;
  color: $black;
}

.header__number_badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 27px;
  margin-right: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: $red;
  font-size: 14px;
  color: $white;
}

.header__address {
  margin-right: 45px;
  padding-top: 15px;
}



@media (max-width: 1800px) {
  .header__address {
    display: none;
  }
}
@media (max-width: 1600px) {
  .menu {
    min-height: 727px;
  }
}
@media (max-width: 1540px) {
  .header__navigation_item {
    &:last-child {
      display: none;
    }
  }
}
@media (max-width: 1350px) {
  .menu {
    min-height: 711px;
  }
  .header__btn {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header__navigation_item {
    margin-right: 25px;
  }
  .breadcrumbs {
    overflow-x: auto;
  }
  .breadcrumbs__item_link {
    white-space: nowrap;
  }
}
@media (max-width: 1023.98px) {
  .header__navigation {
    display: none;
  }
  .header__btn {
    display: flex;
  }
  .breadcrumbs {
    padding: 0 0 15px;
  }
}
@media (max-width: 1000px) {}