.header {
  padding-left: 360px;
  background-color: $white;
}

.header__box {
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;

  .box {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  display: none;
  width: 105px;
  margin-left: -15px;
}


@include media-breakpoint-up(xl) {
  .header {
    padding-left: 18.75vw;
  }
  .header__box {
    padding-bottom: 0.78em;
  }
}

@include media-breakpoint-down(lg) {
  .header {
    padding-left: 0;
  }
  .header__box {
    justify-content: space-between;
  }
  .header__logo {
    display: block;
  }
  .header__btn {
    display: flex;
    width: 123px;
    min-width: 123px;
    height: 40px;
    font-size: 12px;

    span {
      display: none;
    }
  }
}
