.header {
  padding-left: 360px;
  background-color: $white;
}

.header__box {
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;
  .box {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  display: none;
  width: 105px;
  margin-left: -15px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  padding-left: 20px;
}

.header__navigation_item {
  margin-right: 35px;
}

.header__navigation_item_link {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 16px;
  color: $blue;
  transition: .3s;
  &:hover {
    color: $h-blue;
  }
}

.header__number {
  display: flex;
  align-items: center;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 24px;
  color: $black;
}

.header__number_badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 27px;
  margin-right: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: $red;
  font-size: 14px;
  color: $white;
}

.header__address {
  margin-right: 45px;
  padding-top: 15px;
}



@media (max-width: 1800px) {
  .header__address {
    display: none;
  }
}
@media (max-width: 1540px) {
  .header__navigation_item {
    margin-right: 25px;
    &:last-child {
      display: none;
    }
  }
}
@media (max-width: 1350px) {
  .header__btn {
    display: none;
  }
}
@media (max-width: 1023.98px) {
  .header {
    padding-left: 0;
  }
  .header__box {
    justify-content: space-between;
  }
  .header__logo {
    display: flex;
  }
  .header__navigation {
    display: none;
  }
  .header__btn {
    display: flex;
    width: 123px;
    min-width: 123px;
    height: 40px;
    font-size: 12px;
    span {
      display: none;
    }
  }
}