.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  min-height: 860px;
  padding: 40px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 0 0 75px;
  background-color: $white;
  overflow: hidden;
  z-index: 3000;
}

.menu__logo {
  padding: 0 40px 0 80px;
}

.menu__accordion {
  margin-top: 60px;
  .card {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .accordion__link {
    width: 230px;
    margin: 0 40px 0 80px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    color: $blue;
    &.collapsed {
      color: $black;
      .accordion__arrow {
        border: 2px solid $black;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
    .accordion__arrow {
      border: 2px solid $blue;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
}

.menu__accordion_list {
  padding-top: 20px;
}

.menu__accordion_list_item_link {
  display: block;
  padding: 6px 40px 6px 120px;
  color: $black;
  &:hover {
    background-color: #f2f7ff;
    color: $blue;
  }
  &.active {
    background-color: #f2f7ff;
    font-family: 'Montserrat-Bold', sans-serif;
    color: $blue;
  }
}

@include media-breakpoint-up(xl) {
  .menu {
    width: 18.2vw;
    min-height: 45vw;
    padding: 2vw 0;
  }
  .menu__logo{
    padding: 0 2vw 0 4vw;
  }
  .menu__accordion {
    margin-top: 3.125vw;
    .card {
      margin-bottom: 1.82vw;
    }
    .accordion__link {
      width: 12vw;
      margin: 0 2vw 0 4vw;
      font-size: 0.83vw;
    }
  }
  .menu__accordion_list_item_link {
    padding: 6px 2vw 6px 6vw;
    font-size: 0.73vw;
  }
}

@include media-breakpoint-down(lg) {
  .menu {
    position: inherit;
    width: 100%;
    min-height: auto;
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .menu__logo {
    display: none;
  }
  .menu__accordion {
    margin-top: 0;
    .card {
      margin-bottom: 20px;
    }
    .accordion__link {
      display: inline-flex;
      width: auto;
      margin: 0;
      &.collapsed {
        .accordion__arrow {
          transform: translate(-50%, -100%) rotate(135deg);
        }
      }
    }
  }
  .menu__accordion_list_item_link {
    display: inline-block;
    padding: 6px 0;
    background-color: transparent;
    &.active {
      background-color: transparent;
    }
  }
}
