.home-1 {
  position: relative;
  background-image: url('../../../img/bg/bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .cards__title {
    margin-bottom: 40px;
  }
}