.home-1 {
  position: relative;
  background-image: url('../../../img/home/home-1/home-1-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}