.services-11 {
	padding: 50px 0 100px;
}

.section-3__img {
	text-align: center;
}

.services-11__form {
	.form__block {
		background-image: url(../../../img/bg-form/form-bg-2.png);
		background-position: bottom right;
		background-repeat: no-repeat;
	}
}