.services-12 {
	padding-bottom: 80px;
	background-color: $bg;
	.title-block {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
	}
}

.services-12__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	margin-bottom: 30px;
	padding: 0 20px;
	border-radius: 0 0 15px 15px;
	box-shadow: $shadow;
	background-color: $white;
	font-family: 'Montserrat-Bold', sans-serif;
	color: $red;
	transition: .3s;
	&:hover {
		background-color: $red;
		color: $white;
	}
}

.services-12__table {
	box-shadow: $shadow;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow: hidden;
}

.services-12__table_mobile {
	display: none;
}

.services-12__table_head {
	height: 65px;
	display: flex;
	align-items: center;
}

.services-12__table_list_item {
	display: flex;
	align-items: center;
	min-height: 55px;
	padding: 8px 0;
	&:nth-child(2n) {
		background-color: $bg;
	}
}

.services-12__table_total {
	width: 100%;
	max-width: 192px;
	height: 36px;
	border: 2px solid #dbdbdb;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-color: $white;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 14px;
	color: $black;
	text-align: center;
	line-height: 32px;
}



@include media-breakpoint-down(lg) {
	.services-12 {
		.container {
			max-width: 100%;
		}
	}
}

@include media-breakpoint-down(sm) {
	.services-12 {
		padding-bottom: 30px;
		background-color: $white;
		.title-block {
			margin-bottom: 0;
			-webkit-border-radius: 15px 15px 0 0;
			-moz-border-radius: 15px 15px 0 0;
			border-radius: 15px 15px 0 0;
		}
	}
	.services-12__btn {
		display: none;
	}
	.services-12__table {
		box-shadow: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-left: -15px;
		margin-right: -15px;
	}
	.services-12__table_desktop {
		display: none;
	}
	.services-12__table_mobile {
		display: block;
		margin: 20px 0 10px;
	}
	.services-12__table_head {
		display: none;
	}
	.services-12__table_list_item {
		&:last-child {
			height: 60px;
			-webkit-border-radius: 0 0 15px 15px;
			-moz-border-radius: 0 0 15px 15px;
			border-radius: 0 0 15px 15px;
			background-color: $red;
			color: $white;
		}
	}
}