.services-7 {
	padding: 50px 0 100px;
	background-color: $bg;
}

.section-3__img {
	text-align: center;
}

.services-7__form {
	.form__block {
		background-image: url(../../../img/bg-form/form-bg-1.png);
		background-position: center right;
		background-repeat: no-repeat;
	}
}



@include media-breakpoint-down(sm) {
	.services-7 {
		padding: 0 0 20px;
		background-color: $white;
	}
	.services-7__form {
		margin-top: 40px;
	}
}