.breadcrumbs__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  overflow-x: auto;
}

.breadcrumbs__list_item {
  margin-right: 45px;
  white-space: nowrap;
  &:last-child {
    margin-right: 0;
  }
}

.breadcrumbs__list_item_link {
  color: $grey;
  white-space: nowrap;
  &:hover {
    color: $blue;
    border-bottom: 1px dashed $blue;
  }
}


@include media-breakpoint-up(xl) {
  .breadcrumbs__list {
    height: 2.6vw;
  }
  .breadcrumbs__list_item {
    margin-right: 2.35vw;
  }
  .breadcrumbs__list_item_link {
    font-size: 0.73vw;
  }
}

@include media-breakpoint-down(sm) {
  .breadcrumbs__list_item {
    margin-right: 25px;
  }
}