.services-3 {
	padding: 50px 0 100px;
}

.section-3__img {
	text-align: center;
}

.services-3__form {
	.form__block {
		background-image: url(../../../img/services/services-3-form.png);
		background-position: 95% 100%;
		background-repeat: no-repeat;
	}
}