.works {
  padding: 50px 0 110px;
  background-color: $white;
  .title-1 {
    margin-bottom: 50px;
  }
  .accordion__link {
    width: 100%;
    &.collapsed {
      .accordion__arrow {
        transform: translate(-50%, -75%) rotate(135deg);
      }
    }
  }
  .accordion__arrow {
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
    border: 2px solid $blue;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .collapse__content {
    padding-bottom: 50px;
  }
}

.works-slider {
  margin-top: 30px;
}

.works-slider__item_link {
  position: relative;
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  &:hover {
    .works-slider__item_link_overflow {
      opacity: 1;
    }
  }
  img {
    width: 100%;
  }
}

.works-slider__item_link_overflow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s;
}


@include media-breakpoint-down(lg) {
  .works {
    padding: 30px 0;
    .title-1 {
      margin-bottom: 30px;
    }
  }
  .works-slider {
    .slick-prev {
      left: -5px;
    }
    .slick-next {
      right: -5px;
    }
  }
  .works-slider__item_link_overflow {
    top: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    opacity: 1;
  }
}

@include media-breakpoint-down(md) {
  .works-slider {
    .slick-prev {
      left: 50px;
    }
    .slick-next {
      right: 50px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .works__title {
    font-size: 16px;
  }
  .works-slider {
    padding-bottom: 50px;
    .slick-arrow {
      top: auto;
      bottom: 0;
    }
    .slick-prev {
      left: 50%;
      transform: translate(-125%, 0);
    }
    .slick-next {
      right: 50%;
      transform: translate(125%, 0);
    }
  }
}