.intro {
  padding: 130px 0 120px;
  background-image: url('../../../img/home/intro/intro-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__title {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 28px;
}