.menu-mobile {
  display: none;
  padding: 10px 0 20px;
  .header__address {
    display: block;
    margin: 0;
    text-align: center;
  }
  .menu__accordion {
    margin-top: 0;
  }
  .card {
    margin-bottom: 15px;
  }
  .card-header {
    display: flex;
    justify-content: center;
  }
  .accordion__link {
    display: inline-flex;
    width: auto;
    margin: 0;
    &.collapsed {
      .accordion__arrow {
        transform: translate(-50%, -100%) rotate(135deg);
      }
    }
  }
  .menu__accordion_list {
    padding-top: 10px;
  }
  .menu__accordion_list_item {
    text-align: center;
  }
  .menu__accordion_list_item_link {
    display: inline-block;
    padding: 6px 0;
    background-color: transparent;
  }
}

.menu-mobile__navigation {
  margin-top: 20px;
}

.menu-mobile__navigation_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}