.services-4 {
	padding-bottom: 50px;
	background-color: $bg;
}

.services-4__block {
	padding: 50px 0 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: $white;
}



@include media-breakpoint-down(xs) {
	.services-4 {
		background-color: $white;
	}
	.services-4__block {
		padding: 0;
	}
}